# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        repository: 'direct2sanjeev/devsecops'
        tags: 'devsecops'
          

    - task: Docker@2
      inputs:
       containerRegistry: 'DockerHubConnectionString' 
       repository: 'direct2sanjeev/devsecops'
       command: 'push'
       tags: 'devsecops'



    - task: KubernetesManifest@0
      inputs:
        action: 'deploy'
        kubernetesServiceConnection: 'K8sConnectionString'
        namespace: 'default'
        manifests: '$(Build.SourcesDirectory)/Deployment.yaml'

    
    - task: KubernetesManifest@0
      inputs:
        action: 'deploy'
        kubernetesServiceConnection: 'K8sConnectionString'
        namespace: 'default'
        manifests: '$(Build.SourcesDirectory)/Service.yaml'